@charset "UTF-8";
   body{
           background-color: black;
           color: whitesmoke;
        }
        input{
            border: 1px solid whitesmoke;
            width: 500px;
            height: 30px;
            background-color: black;
            text-decoration: whitesmoke;
            padding-left: 15px;
            color: whitesmoke;
        }
        button{
            background-color: brown;
            color: gold;
            opacity: 0.4;
            width: 525px;
            height: 35px;
            left: -5px;
            position: relative;
        }
        button:hover,
        input:hover{
            border-color: yellow;
            transform: translate(1px,1px);
        }
        .sub2{
        	
        	left: 600px;
        	top:-245px;
        	position: relative;
        }